@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  width: 100vw; 
  overflow-x: hidden;
}

body {  
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;  
  background-color: #F0F4F5;
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 3px;
  }
}
