@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";

.swiper {
  padding: 2rem 0;
}

.swiper-wrapper {
  width: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:active {
  cursor: grab;
}

.swiper-button-prev {    
  color: #E83737;
}

.swiper-button-prev::after {
  font-size: 2rem;  
}

.swiper-button-next {
  color: #E83737;
}

.swiper-button-next::after {
  font-size: 2rem;  
}

.swiper-scrollbar {
  background-color: white;
}

.swiper-scrollbar > * {
  background-color: #E83737;
  margin-top: 5px;
  margin-left: -3px;
}
